/* Styles go here */

.page-header,
.page-header-space {
  height: 50px;
  /* margin-bottom: 0.5rem; */
}

.page-footer,
.page-footer-space {
  height: 50px;
  /* margin-top: 0.5rem; */
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 2.5rem;
  padding-top: 1rem;
  height: 60px;
}

.page-header {
  position: fixed;
  top: 0mm;
  width: 100%;
}

.page {
  page-break-after: always;
}
/* .ql-container {
  position: relative;
  top: 100px
}
.ql-toolbar {
  position: fixed;
  top: 100px;
  background-color: #fff;
  z-index:1000
} */
.ql-editor {
  line-height: 1.25 !important;
  border: 0px;
  min-height: 34vh;
  height: 90%;
}

div.ql-container.ql-snow[aria-invalid="true"] {
  box-shadow: 0 0 0 0;
  border-color: var(--chakra-colors-red-400) !important;
}

.ql-toolbar.ql-snow {
  border-bottom: 0px dashed var(--chakra-colors-gray-300) !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  background-color: var(--chakra-colors-gray-200);
  border-radius: 8px;
  margin-bottom: 8px;
}

[size="A4"] {
  max-width: 21cm;
  max-height: 29.7cm;
}
[size="A4-Landscape"] {
  max-width: 29.7cm;
  max-height: 21cm;
}

@page {
  margin: 12mm;
}

@media print {
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  button {
    display: none;
  }

  body {
    margin: 0;
    background: #fff !important;
  }

  .ql-container.ql-snow {
    border: 0px solid #ccc !important;
  }
  .ql-toolbar.ql-snow {
    display: none;
  }
  .ql-container {
    position: relative;
    top: 0;
  }
}
